#API key for openweather API
OPEN_WEATHER_API_KEY = ""

#MySQL database ip
DATABASE_HOST = ""
#MySQL database port
DATABASE_PORT = "9000"
#MySQL database username
DATABASE_USER = ""
#MySQL database password
DATABASE_PASSWORD = ""